fmfRecord.sdf
fmfRecord.v12.suo
fmfRecord/x64/Release/fmfRecord.log
fmfRecord/x64/Release/fmfRecord.obj
fmfRecord/x64/Release/fmfRecord.pch
fmfRecord/x64/Release/fmfRecord.tlog/CL.read.1.tlog
fmfRecord/x64/Release/fmfRecord.tlog/CL.write.1.tlog
fmfRecord/x64/Release/fmfRecord.tlog/cl.command.1.tlog
fmfRecord/x64/Release/fmfRecord.tlog/fmfRecord.lastbuildstate
fmfRecord/x64/Release/fmfRecord.tlog/link.command.1.tlog
fmfRecord/x64/Release/fmfRecord.tlog/link.read.1.tlog
fmfRecord/x64/Release/fmfRecord.tlog/link.write.1.tlog
fmfRecord/x64/Release/stdafx.obj
fmfRecord/x64/Release/vc120.pdb
ipch/fmfrecord-62c62d74/fmfrecord-618a9c1c.ipch
ipch/fmfrecord-62c62d74/fmfrecord-d60a4222.ipch
x64/Release/fmfRecord.exe
x64/Release/fmfRecord.pdb